.back{
  width: 100%;
  height: 100vh;
  background: rgb(0,18,255);
  background: linear-gradient(210deg, rgba(0,18,255,1) 1%, rgba(201,89,69,1) 79%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-bar{
  width: 80%;
  height: 2.5em;
  background-color: #fff;
  margin: 3em 0;
  border-radius: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  input{
    border: 0;
    outline: 0;
    width: 80%;
    max-height: 2.2em;
    border-radius: 4em;
    font-size: 1.2em;
    padding-left: .5em;
  }

  span{
    font-size: 1.3em;
    cursor: pointer;
  }
}

.weather-div{
  width: 100%;
  max-height: 30%;
  position: absolute;
  text-align: center;
  top: 35%;
  padding: .5em;
  border: 1em solid rgba(#ccc, .2);
  border-radius: 7em;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-size: 4em;
    font-weight: 700;
    color: rgba(#ccc, .2);
    line-height: .8em;
    font-family: 'Luckiest Guy', cursive;
  }
}

.weather-card{
  width: 90%;
  height: 68vh;
  background-color: #fff;
  z-index: 3;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.card-background{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-size: cover;
  background-position: center;
  padding-bottom: 1em;

  h2{
    width: 100%;
    font-size: 2.6em;
    background-color: rgba(#000, .7);
    padding: .1em .2em;
    color: #fff;
    text-align: center;
  }

}

.summer{
  background-image: url('../../../assets/summer.jpg');
}

.winter{
  background-image: url('../../../assets/winter.jpg');
}

.info, .temp, .feels-like{
  background-color: rgba(#fff, .8);
  border-radius: .5em;
  padding: .2em;
}


.info-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    font-size: 1.4em;
  }

  div{
    display: flex;
    align-items: center;
    gap: .5em;
  }

}

.info-box-2{
  margin-top: 1em;
}

.temp{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.feels-like{
  font-size: 2em;
}

.sub-titles{
  font-weight: 700;
}

.description{
  width: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #ccc;
  padding: .5em 0;

  ul{
    list-style: none;
  }

  li{
    text-align: center;
  }

}

.title{
  font-size: 2em;
  font-weight: 700;
}

.description-item{
  font-size: 2em;

  &::first-letter{
    text-transform: uppercase;
  }
}

footer{
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, .2);

  a{
    font-size: 3em;
    margin: 0 1em;
    color: white;
  }
}

.loading-icon{
  color: #fff;
  font-size: 5em;
}

.not-found{
  color: #fff;
  font-size: 3em;
}

@media screen and (min-width: 40em){

  .weather-div{
    width: 60%;
  }

  .info{
    width: 20%;

    p{
      font-size: 2em;
    }
  }

  .temp{
    font-size: 4em;
  }

  .info-box-2{

    .info{
      width: 40%;

      p{
        font-size: 2em;
      }
    }
  }
}

@media screen and (min-width: 65em){

  .search-bar{
    width: 40%;
  }

  .weather-div{

    p{
      font-size: 6em;
    }
  }

  .weather-card{
    width: 50%;
  }
}

@media screen and (min-width: 103em){

  .search-bar{
    height: 3em;

    input{
      max-height: 2.8em;
      font-size: 2em;
    }
  }

  .weather-div{
    width: 40%;

    p{
      font-size: 8em;
    }
  }

  .card-background{

    h2{
      font-size: 3.5em;
    }
  }

  .info{

    p{
      font-size: 2.5em;
    }


    i{
      font-size: 2em;
    }
  }

  .temp{
    width: 30%;
    font-size: 5.5em;
  }
}
